<ul id="navigation">
      <li id="logo"><a href="http://www.bildergut.com/" title="Back to home"></a></li>
      <li id="portaltab-sideprojects" class="plain"><a href="http://www.bildergut.com/sideprojects" title="">SIDEPROJECTS</a></li><li id="portaltab-about" class="plain"><a href="http://www.bildergut.com/about" title="">ABOUT</a></li><li id="portaltab-contact" class="plain"><a href="http://www.bildergut.com/contact" title="">CONTACT</a></li><li id="portaltab-clients" class="plain"><a href="http://www.bildergut.com/clients" title="">CLIENTS</a></li>
  <li class="backlink">back</li>
</ul>